# this is the highest directory lombok should search for config files
config.stopBubbling = true

# use jetbrains nullability annotations
lombok.addNullAnnotations = jetbrains

# add annotations that @Getter and @Setter should copy from the field
lombok.copyableAnnotations += dev.latvian.mods.rhino.util.HideFromJS
# all the api status annotations
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.Experimental
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.Internal
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.Obsolete
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.ScheduledForRemoval
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.AvailableSince
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.NonExtendable
lombok.copyableAnnotations += org.jetbrains.annotations.ApiStatus.OverrideOnly
