<page>
  <h1>弹簧</h1>
  <h3>来源</h3>
  <text>
    <style color="0xaaaaaa" italic="true" pwt="true">注释：本页转载于MCMOD的GTCEu维基<br/>作者：<style color="0xa4e7ff" hover-info="url" pwt="true" underlined="true" url-link="https://center.mcmod.cn/119280/">Oganesson897</style>，<br/> <style color="0xa4e7ff" hover-info="url" underlined="true" url-link="https://github.com/blackdragon2447">BlackDragon2447</style> <br/></style>
  </text>
  <text>Springs are used in creating <style color="0xafff00" hover-info="click link" link="gtceu:machines/transformer" underlined="true">Power Transformers (16A -> 64A)</style> and <style color="0xbbffaa">Dynamo Hatches</style>, <style color="0xafff00" hover-info="click link" link="gtceu:machines/distillery" underlined="true">Distilleries</style>, <style color="0xafff00" hover-info="click link" link="gtceu:machines/brewery" underlined="true">Breweries</style>, <style color="0xbbffaa">Blacklights</style> and a few GCyM machines.</text>
  <h3>合成</h3>
  <text>弹簧可以使用两根<style color="0xafff00" hover-info="click link" link="gtceu:materials/long_rod" underlined="true">长杆</style>手搓，也可以在卷板机中使用一根 <style color="0xafff00" hover-info="click link" link="gtceu:materials/long_rod" underlined="true">长杆</style>制作。</text>
  <recipe id="gtceu:shaped/spring_aluminium"></recipe>
  <recipe id="gtceu:bender/bend_aluminium_long_rod_to_spring"></recipe>
</page>
