<page>
  <h1>Spring</h1>
  <h3>Source</h3>
  <text>
    <style color="0xaaaaaa" italic="true">Note: this page is ported from MCMOD's GTCEu wiki. <br></br> Author: <style color="0xa4e7ff" hover-info="url" underlined="true" url-link="https://center.mcmod.cn/119280/">Oganesson897</style>, <br></br> <style color="0xa4e7ff" hover-info="url" underlined="true" url-link="https://github.com/blackdragon2447">BlackDragon2447</style> <br></br></style>
  </text>
  <text>Springs are used in creating <style color="0xafff00" hover-info="click link" link="gtceu:machines/transformer" underlined="true">Power Transformers (16A -> 64A)</style> and <style color="0xbbffaa">Dynamo Hatches</style>, <style color="0xafff00" hover-info="click link" link="gtceu:machines/distillery" underlined="true">Distilleries</style>, <style color="0xafff00" hover-info="click link" link="gtceu:machines/brewery" underlined="true">Breweries</style>, <style color="0xbbffaa">Blacklights</style> and a few GCyM machines.</text>
  <h3>Crafting</h3>
  <text>Springs can be created either manually using two <style color="0xafff00" hover-info="click link" link="gtceu:materials/long_rod" underlined="true">Long Rods</style> or in a bender using a single <style color="0xafff00" hover-info="click link" link="gtceu:materials/long_rod" underlined="true">Long Rod</style>.</text>
  <recipe id="gtceu:shaped/spring_aluminium"></recipe>
  <recipe id="gtceu:bender/bend_aluminium_long_rod_to_spring"></recipe>
</page>
