name: Auto Publish, Releasing

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'release type'
        required: true
        type: choice
        default: 'beta'
        options:
          - 'release'
          - 'beta'
          - 'alpha'
      publishMaven:
        description: 'whether publish to the maven'
        required: true
        type: boolean
        default: true
      publishCurseForgeAndModrinth:
        description: 'whether to publish to curseforge and modrinth'
        required: true
        type: boolean
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MAVEN_PASS: ${{ secrets.MAVEN_PASS }}
      MAVEN_USER: ${{ secrets.MAVEN_USER }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Build
        uses: ./.github/actions/build_setup

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - if: ${{ inputs.publishMaven }}
        name: Publish to Maven
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publish

      - if: ${{ inputs.publishCurseForgeAndModrinth }}
        name: Get Version
        id: var
        run: |
          MESSAGE=$(ls build/libs/* | grep sources.jar -v | grep shadow.jar -v | grep slim.jar -v | awk -F 'gtceu-|.jar' '{print $2}')
          echo version=$MESSAGE >> $GITHUB_OUTPUT

      - if: ${{ inputs.publishCurseForgeAndModrinth }}
        name: mc-publish-forge
        uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          # Only include this section if you wish to publish
          # your assets on Modrinth.
          modrinth-id: 7tG215v7
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # Only include this section if you wish to publish
          # your assets on CurseForge.
          curseforge-id: 890405
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: |
            build/libs/!(*-@(dev|sources|javadoc|dev-shadow|slim)).jar
            build/libs/*-@(dev|sources|javadoc|dev-shadow|slim).jar

          name: GregTechCEu ${{ steps.var.outputs.version }}
          version: mc${{ steps.var.outputs.version }}
          version-type: ${{ inputs.releaseType }}
          changelog-file: CHANGELOG.*

          loaders: |
            forge
          game-versions: |
            ${{ github.ref_name }}
          game-version-filter: none
          java: |
            17
          retry-attempts: 2
          retry-delay: 10000
          fail-mode: fail
